/* BASE */
input, textarea {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.md {font-size: 1.5em;}
.font-regular {font-weight: 400;}
.red {color: red}

main {
    display: flex;
    position: relative;
}

/* MAIL DETAILS */

.mail-menu-btn {
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 13px;
}

.mail-menu-btn:hover {
    background-color: #fff;
    box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}


.mail-details-container,
.mail-list-container {
    width: 100%;
}
.main-mail-container,
.mail-list {
    margin: 0;
    padding: 0;
    width:100%;
    background-color: #fff;
    
}
.mail-item-container {
    display: flex;
    background-color: #fff;
}

/* PREVIEW */

.mail-preview-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.mail-preview-details {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.preview-sender {
    width: 15%;
    /* display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.preview-main {
    width: 70%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-mail-sent{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.preview-main span{ 
    margin-right: 10px;
}

.preview-subject {
    width: 100%;
    
}
.preview-body {
    color: rgba(0, 0, 0, 0.5);
    
}

.unread{
    font-weight: 900;
}

.fa-star {
    display: flex;
    align-items: center;
    height: 100%;
    color: lightgray;
    cursor: pointer;
    margin-left: 15px;
}

.fa-star:hover {
    color: rgb(230, 226, 226);
}

.fa-star.starred {
    color: gold;
}
.fa-star.starred:hover {
    color: rgb(255, 236, 130);
}

.to-trash {
    visibility: hidden;
    position: absolute;
    right: 15%;
    background-color: #fff;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mail-preview-container:hover > .to-trash {
    visibility: visible;
}
/* DETAILS */

.mail-details-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.mail-subject {
    font-size: 2em;
}

.mail-sender-time {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-sender span:nth-child(1) {
    font-weight: 700;
}

.mail-body {
    font-size: 1.2em
}

.mail-nav {
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}

/* SIDE NAV */

.nav-container {
    width: 30%;
    height: 800px;
    background-color: rgb(245, 237, 237);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 13px;
}
.nav-btn-container {
    margin: 10px 3px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    gap: 10px;
    padding: 10px;
    transition: all .3s;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}

.nav-btn-container.active-btn {
    background-color: rgb(211, 202, 202);
}

.nav-btn-container:hover {
    cursor: pointer;
    box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
}

.nav-btn-container .btn-txt {
    width: 80%;
}
.compose-btn-container{
    margin: 20px 0;
}
.compose-btn {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    font-size: 1.2em;
    align-items: center;
    transition: all 0.3s;
    outline-style: none;
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 5px 9px;
}
.compose-btn:hover {
    box-shadow: 1px 7px 14px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* COMPOSE */

.mail-compose.container {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.compose-header {
    display: flex;
    justify-content: space-between;
}
.mail-compose .compose-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(245, 237, 237);
    color: #f4f4f4;
    border-radius: 8px 8px 0px 0px;
    color: rgba(0, 0, 0, 0.5);
}

.compose-header p {
    margin-left: 1rem;
}

.compose-header button {
    border: none;
    background-color: transparent;
    color: #cccbcb;
    margin-right: 0.5rem;
    cursor: pointer;
    outline-style: none;
    font-size: 25px;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-compose textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
}

.mail-compose input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 1rem;
    width: 100%;
}
.compose-footer {
    padding: 0.5rem;
    background-color: rgb(240, 229, 229);
}

.compose-footer button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-inline-start: 1rem;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

/* .compose-footer button:hover { }
