.edit-colors {
    /* position: absolute;
    bottom: -2;
     left: ; */
    /* opacity: 0; */
}

.edit-colors>* {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid #00000041;
    cursor: pointer;
}

.note .fa.fa-edit {
    font-size: 1.1em;
    padding-top: 0.1em;
    padding-bottom: 0em;
}

img {
    max-width: 25em;
}

.edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 32.5vw;
    height: 50vh;
    width: 35vw;
    top: 30vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-950px);
    transition: 0.7s;
    z-index: 2;
    /* max-width: 10em; */
}

.details {
    flex-grow: 1;
}

.edit-modal .label {}

.edit-modal .options-bar>*:not(:last-child) {
    margin-inline-end: 1.5em;
}

.edit-modal .options-bar>* {
    font-size: 1.4em;
}

.edit-modal li {
    user-select: none;
}

.edit-modal.openEditModal {
    transition: 0.7s;
    visibility: visible;
    transform: translateY(0px);
    max-height: unset;
    opacity: 1;
    visibility: visible;
}

.closeEditModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
    top: 0%;
    z-index: 1;
    visibility: hidden;
}