.edit-colors {
    /* position: absolute;
    bottom: -2;
     left: ; */
    /* opacity: 0; */
}

.edit-colors>* {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid #00000041;
    cursor: pointer;
}

.note .fa.fa-edit {
    font-size: 1.1em;
    padding-top: 0.1em;
    padding-bottom: 0em;
}