.edit-colors {
    position: absolute;
    left: 0;
    right: 0;
}

.edit-colors>* {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 1px solid #00000041;
    cursor: pointer;
}

.note .fa.fa-edit {
    font-size: 1.1em;
    padding-top: 0.1em;
    padding-bottom: 0em;
}

img {
    max-width: 20em;
}

.edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 32.5vw;
    height: 50vh;
    width: 35vw;
    top: 30vh;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-950px);
    transition: 0.7s;
    z-index: 2;
    border-radius: 8px;
}

.edit-modal .edit-colors {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 42%;
}

.edit-modal .notes-input {
    margin-bottom: 12px;
}

.edit-modal .note-create {
    display: block;
}

.details {
    flex-grow: 1;
}

.edit-modal .options-bar>*:not(:last-child) {
    margin-inline-end: 1.2em;
}

.edit-modal .options-bar>* {
    font-size: 1.6em;
    transition: 0.2s;
}

.edit-modal .options-bar {
    opacity: 1;
}

.edit-modal .options-bar>*:hover {
    transform: scale(1.1);
}

.edit-modal li {
    user-select: none;
}

.edit-modal.openEditModal {
    transition: 0.7s;
    visibility: visible;
    transform: translateY(0px);
    max-height: unset;
    opacity: 1;
    visibility: visible;
}

.closeEditModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.726);
    top: 0%;
    z-index: 1;
    visibility: hidden;
}

.close-editModal-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}